$ipad: 768px;


@media screen and (max-width: 995px), 
only screen and (max-device-width : 780px) {
    $fixed-grid-container-width: 715px;
    $fixed-grid-container-height: 350px;
    .l-fixed .grid-container{
      width: $fixed-grid-container-width;
      .l-col-3{
        width: $fixed-grid-container-width/2;
      }
      .l-col-2{
        width: $fixed-grid-container-width/2;
      }
    }

    header{
      padding: 32px 22px;
      height: 100px;
      .header-logo{
        margin-left: 7px;
        width: 152px;
        height: 32px;
      }
      .social-logo{
        width: 32px;
        height: 32px;
      }
      .phone-number{
        margin-top: 3px;
        font-size: 15px;
        strong{
          padding: 0 24px 0 2px;
          font-size: 14px;
        }
      }
    }
  .landing-title{
    padding-top: 150px;
    .landing-title-top{
      font-size: 35.5px;
    }
    .landing-title-bottom {
      font-size: 60px;
      top: -6px;
    }
  }
  .l-fixed .landing-container {
    width: 501px;
  }

  .landing-container p {
    padding-top: 14px;
    line-height: 19px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .landing-container .signup-button{
    margin-top: 89px;
    font-size: 17px;
    padding: 26px 48px;
  }
  .signin{
    padding-top: 15px;
    font-size: 14px;
  }
  .home-title{
    font-size: 30px;
    padding: 55px 0 10px 0;
  }
  .home-blurb{
    padding-bottom: 37px;
    h4{
      font-size: 14.2px;
      display: block;
    }
  }
  .home{
    height: 115%;
    .grid-container{
      height: 350px;
      .automobile{
        float: left;
      }
      .construction{
        float: right;
      }
      .l-size-1,
      .l-size-2,
      .l-size-4{
        height: 50%
      }
      .l-col-3:nth-child(3){
        width: $fixed-grid-container-width;
        height: 50%;
        .l-size-1{
          width: 25%;
          height: 100%;
        }
        .l-size-2{
          width: 50%;
          height: 100%;
        }
        .working,
        .livestock{
          width: 50%;
        }
      }
    }
    .modal{
      height: 700px;
      .overlay,
      .modal-pic{
        height: 700px;
      }
    }
  } 

  .modal-content{
    padding: 20px;
  }

  .modal-content p{
    font-size: 12px;
    line-height: 15px;
  }

  .modal-content .signup-button{
    margin-top: 40px;
  }

  .customer-name{
    font-size: 27px;
    font-weight: 700;
  }

  .customer-story{
    padding-top: 31px;
  }

  .close-button{
    font-size: 40px;
  }

  .with-plastic{
    font-size: 14px;
    padding-top: 4px;
    font-family: Museo Slab, sans-serif;
    font-style: italic;
    font-weight: 500;
  }

  .customer-li{
    padding-top: 4px;
    margin-left: 16px;
    font-size: 11px;
    line-height: 15px;
  }

}
