body {
	background-color: #006B6B;
}

a:hover {
	color: red;
}

p {
/*	font-family: 'Linden Hill', 'serif';*/
	font-size: 1.1em;
	text-indent: 2em;
	color: #4D4D55;
}

#title {
	position: relative;
	top: -.75em;
	font-size: 9em;
	color: white;
	text-align: center;
	font-family: 'Lobster', 'cursive';
}

#container {
	display: block;
	position: absolute;
	top: 5%;
	left: 3%;
	height: 41em;
	width: 90%;
	min-width: 45em;
	max-width: 55em;
	overflow: auto;
}

#banner {
	position: relative;
	top: 0px;
	left: 0px;
	height: 28%;
	width: 99%;
	overflow: hidden;
	border-radius: 1em;
	border: solid .2em white;
}

.banner_image {
	position: relative;
	height: 100%;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

#about_me {
	position: absolute;
}

#portfolio_image {
	position: absolute;
}

#contact_image {
	position: absolute;
}

.section {
	background-color: white;
	border-radius: 1em;
}

.menu {
	background-color: white;
	border-radius: 1em;
	color: #006B6B;
	top: 31%;
}

#top a {
	font-family: 'Lobster', 'cursive';
	font-size: 2em;
	font-weight: normal;
	height: 1.3em;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #006B6B;
}

#top a:hover {
	color:red;
}

#about_link {
	float:left;
	position: absolute;
	left: 0;
	width: 27%
}

#portfolio_link {
	float: left;
	position: absolute;
	left: 36.5%;
	width: 27%
}

#contact_link {
	float: right;
	position: absolute;
	right: 0px;
	width: 27%
}

#left {
	float:left;
	position: absolute;
	bottom: 0px;
	height: 61%;
	width: 71%;
	overflow: hidden;
}

#content {
	margin: 0em 0em 0 1em;
	padding: 0 1em 0 0 ;
	overflow: auto;
	height: 100%;
	position: absolute;
}

#content h2 {
	font-family: 'Lobster', 'cursive';
	color: #006B6B;
	font-size: 1.7em;

}


#right {
	right: 0px;
	position: absolute;
	bottom: 0px;
	width: 27%;
	height: 61%;
	overflow: scroll;
}

.blog_type {
	text-indent: 2em;
	font-family: 'Lobster', 'cursive';
	color: #006B6B;
	font-size: 1em;
}

.blog_links {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	left: 3em;
	color: gray;
}


