.landing{
  background-image: url(../img/landing2.jpg);
}

.landing-title-top{
  font-weight: 100;
  font-size: 42px;
}
.landing-title-bottom{
  font-size: 71px;
}

.home{
  background-color: $background;
}

.home-title-container{
  line-height: 15px;
}

.landing-container p{
  font-size: 16px;
}