button{
  background-color: $color-text;
  color: $color-text-secondary;
  padding: 30px 50px;
  font-size: 21px;
  font-weight: 500;
  margin: 0 auto;
  display: block;  
  @include border-radius(7px);
  @include box-shadow(0px, 3px, 0px, 0px, $regent-grey);
  &:active{
    @include box-shadow(0px, 0px, 0px, 0px, $regent-grey);
    position: relative;
    top: 3px;
  }
}

.close-button{
  font-family: 'Gruppo', cursive, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  font-size: 64px;
  cursor: pointer;
}

.phone-number{
  line-height: 30px;
  display: inline-block;
  font-weight: 100;
  margin-top: 7px;
  font-size: 17px;
}

.phone-number strong{
  padding: 0 58px 0 5px;
}

.signin{
  padding-top: 19px;
  padding-bottom: 14px;
  font-weight: 300;
  font-size: 17px;
}

.social-logo{
  height: 38px;
  width: 38px;
  margin-right: 5px;
  cursor:pointer;
}

.thumbnail{
  border: 8px solid $background;
  cursor: pointer;
}

.home-title{
  font-size: 36px;
  font-weight: 100;
  padding: 65px 0 13px 0;
  letter-spacing: 0.2px;
  color: $color-text-invert;
}

.home-blurb{
  padding-bottom: 41px;
}

.home-blurb h4{
  font-weight: 100;
  font-size: 17px;
  color: $color-text-invert;
  display: inline;
}

.customer-name{
  font-size: 25px;
  font-weight: 700;
}

.customer-story{
  padding-top: 31px;
}

.with-plastic{
  font-size: 16px;
  padding-top: 10px;
  font-family: Museo Slab, sans-serif;
  font-style: italic;
  font-weight: 500;
}

.customer-li{
  padding-top: 16px;
  margin-left: 22px;
  font-size: 16px;
  line-height: 22px;
}

.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page{
  position: relative;
  min-height: 100%;
  height: auto;
  width: 100%;
}

.header-logo{
  width: 180px;
  height: 37px;
  margin-left: 30px;
  position: absolute;
  z-index: 3;
}