.wrapper {
  overflow: hidden;
}

.overlay, .rectangle{
  width: 100%;
  height: 100%;
}

.wrapper .overlay {
  right: -100%;
}
.wrapper .overlay,
.wrapper .overlay .rectangle,
.wrapper .overlay .arrow-left {
  position: absolute;
}

.wrapper .overlay .rectangle {
  background-color: $overlay-color;
}
.wrapper .overlay .arrow-left {
  border-bottom: 0 solid transparent;
  border-right: 0 solid rgba(36,36,36,.95);
}

.wrapper .description {
  position: relative;
  font-size: 0px;
  @include opacity(0);
  font-weight: 100;
}


.wrapper .description,
.modal .signin, 
.modal a{
  color: $color-text-invert;
}


.modal{
  color: $color-text-invert;
  position: absolute;
}

.l-fixed .modal{
  @extend .l-container;
  @extend .grid-container;
}

.modal .overlay{
  height: $fixed-grid-container-width;
}

.hover-text{
  color: #7A7A7A;
  &:hover{
    color: #A2A3A2;
  }
}


.modal-pic{
  @extend .modal;
  top: 0;
  display: none;
}

.modal-content{
  padding: 75px 76px;
  top: 0;
  height: 100%;
  background-color: $overlay-color;
}

.modal-content p{
  font-size: 16px;
  line-height: 19px;
}


.modal-content .signup-button{
  padding: 20px 29px;
  margin-top: 61px;
  background-color: black;
}

.l-fluid .modal{
  @extend .l-full;
}