.college{
  background-image: url(../img/college.jpg);
}
.books{
  background-image: url(../img/books.jpg);
}
.agriculture{
  background-image: url(../img/agriculture.jpg);
}
.pet{
  background-image: url(../img/pet.jpg);
}
.sail{
  background-image: url(../img/sail.jpg);
}
.photography{
  background-image: url(../img/photography.jpg);
}
.construction{
  background-image: url(../img/construction.jpg);
}
.automobile{
  background-image: url(../img/automobile.jpg);
}
.working{
  background-image: url(../img/working.jpg);
}
.livestock{
  background-image: url(../img/goat.jpg);
}