.bullet {
	text-align: left;

}

p {
	text-indent: 50px;
	text-align: left;
}


body { 
	background-color: #CCFFFF;
	text-align: center;
	font: 100% "Arial", san-serif;
	width:350px;
	height:200px;
	margin-left:35%;
	color: "blue"
}

/*link color and animation*/
	a:link {color: #006600;}
	a:visited {color: #660066;}
	a:hover {color: #CC0000;}
	a:active {color: #FFFFFF;}

#sidebar {
	float: right;
	margin-right: -60%
}

#click_below {
	color:Red;
	width:350px;
	text-align: left;

}

.wireframe_image img {
	height: 500px;
	width: auto;
	margin-left: -40%
}

#logo img { 
margin-left: -10%

}

.description_content {
	color: #FFFFFF;
	position: absolute;
	bottom: -30%;
	right: 35%;
	background-color: black;
}





