
#page_title {
text-align: center;
color: #FFFFFF;
}

#banner {
position:absolute;
left:0px;
top:0px;

}


p {
	text-indent: 50px;
	text-align: left;
}


body { 

	font: 100% "Arial", san-serif;
	color: "blue"
}

#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 550px;
	width: 700px;
	background-color: #F6E7D2;
	position: relative;
}


#content {
	color: #404040;
	width: 655px;
	height: 507px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5%;
	margin-bottom: auto;
	overflow: auto;
}

/*link color and animation*/
	a:link {color: #006600;}
	a:visited {color: #660066;}
	a:hover {color: #CC0000;}
	a:active {color: #FFFFFF;}

#sidebar {
	float: right;
	text-align: center;
	margin-top: -5%;
	margin-right: -20%;
	background-color: #01B6AD;
	width: 125px;
	height: 550px;
}

.wireframe_image img {
	width: 660px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.description_content {
	color: #FFFFFF;
	position: absolute;
	bottom: -20%;
	right: 35%;
	background-color: black;
}


.logo img {
	height: 20%;
	width: 20%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
