html { 
  background: url(../images/bridgeclouds.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#menu {
	text-align: center;
	margin-top: 7%
}

#container {
	bottom: 1.5em;
	height: 4em;
	display: block;
	width: 70em;
	position: absolute;
	overflow: auto;
}

#left {
	float: left;
	width: 25.5%;
	height: 100%;
	margin-left: 0;
	background-color: black;
	opacity: .8;
	overflow: hidden;
	position: relative;
	display: block;
}

#right {
	float: right;
	position: relative;
	margin-right: 0; 
	width: 74%;
	height: 100%;
	background-color: black;
	opacity: .7;
	overflow: hidden;
	display: block;
}

#jcj {
	float: left;
	position: relative;
	top:-.1em;
	left: 2.5em;
	text-align: center;
	font-size: 3em;
	color: #EBEBEB;
	font-family: 'Mrs Sheppards', cursive;
}


#socialMedia table {
	text-align: center;
	float: right;
	position: relative;
	right: 5em;
	margin-top: .2em;
}

.socialLinks {
	border: 2px solid black;
}

.socialLinks:hover {
	border: 2px solid #EBEBEB;
	border-radius: .6em;

}
