body {
	background-image: url('http://37.media.tumblr.com/c3d226e1842ebde3158c0e8ab593794a/tumblr_n3h6cqdeN91rebslao1_1280.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: content-box;

}

#container {
	background-color: black;
	opacity: .9;
	float: left;
	width: 60em;
	height: 17em;
	position: absolute;
	bottom: 10%;
	left: 0;
}

#left {
	float: left;
	position: absolute;
	border-right: thin dotted #EBEBEB;
	height: 100%;
	width: 25em;
	opacity: .9
}

#links {
	margin-top: 3%;
	margin-bottom: 0;
	margin-left: 2%;
	text-align: center;
}

#youtube {
	margin-top: 3%;
	margin-bottom: 0;
	margin-left: 2%;
	text-align: center;
	opacity: 1
}

#right {
	float: right;	
	width: 33em;
	height: 100%;
	opacity: .85
}

#jcj {
	text-align: center;
	font-size: 7em;
	color: #EBEBEB;
	font-family: 'Mrs Sheppards', cursive;
	margin-top: .3em
}

#blurb {
	text-align: center;
	font-size: 1em;
	color: #EBEBEB;
	font-family: 'Nova Square', cursive;
	/*font-family: 'Economica', sans-serif;*/

}

#socialMedia a {
	margin-top: .6em;

}

#twitter {
	display: block;
	background: url('../images/twitter2.gif') bottom;
	width: 42px;
	height: 42px;
	text-indent: -99999px;
}

#twitter:hover {
	background-position: 0 0;

}


